.profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  .profile_section
  h5 Profile details
  .row
    .three.columns Profile name:
    .nine.columns #{profile.profile_name}

.profile_section
  h5 Contact information
  .row
    .four.columns Social security number:
    .eight.columns #{profile.personal_ssn}
  .row
    .four.columns Phone number:
    .eight.columns #{profile.personal_phone}

//h5 Contact information

//h5 Primary care physician

//h5 Insurance

//h5 Current medications

//h5 Allergic reactions

//h5 Chronic illnesses

//h5 Previous illnesses

//h5 Previous surgeries / accidents

//h5 Family history

//h5 Social history

//h5 Lifestyle

//h5 Administrative details

  